*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*startregion utility*/
:root{
    --bc-header_section-white: #ffffff;
    --bc-button_simbols-lightblue: #0061ff;
    --bc-nav-heavenly: #b4d0e7;
    --bc-square1-lighgreen: #a2d39b;
    --bc-square1-bordeaux: #61082b;
    --bc-square1-lightblue: #0093ce;
    --bc-square1-lightred: #ff1c1c;
    --bc-square1-red: #d5001f;
    --bc-square1-heavenly: #b4d0e7;
    --bc-square1-blu: #0d2481;
    --bc-square1-yellow: #ffd830;
}


.clearfix{
    content: "";
    display: table;
    clear: both;
}

.dis-inline-block{
    display: inline-block;
}

.ta-center{
    text-align: center;
}

.ta-end{
    text-align: end;
}

.td-none{
    text-decoration: none;
}

.dis-flex{
    display: flex;
}

.jc-center{
    justify-content: center;
}

.ai-center{
    align-items: center;
}

.jc-flex-end{
    justify-content: flex-end;
}

.jc-flex-start{
    justify-content: flex-start;
}

.jc-space-around{
    justify-content: space-around;
}

.jc-space-between{
    justify-content: space-between;
}

.jc-space-evenly{
    justify-content: space-evenly;
}

.fd-column{
    flex-direction: column;
}


.pos-relative{
    position: relative;
}

.pos-absolute{
    position: absolute;
}


.bor-none{
    border: none;
}

.br-50pc{
    border-radius: 50%;
}


.mar-auto{
    margin: auto;
}

.mrl-20px{
    margin:0 20px;
}

.mrl-40px{
    margin:0 40px;
}

.mr-40px{
    margin-right: 40px;
}

.mr-5px{
    margin-right: 5px;
}

.mtb-30px{
    margin: 30px 0;
}

.mtb-10px{
    margin: 10px 0;
}

.mtb-20px{
    margin: 20px 0;
}

.mb-60px{
    margin-bottom: 60px;
}

.mb-40px{
    margin-bottom: 40px;
}

.mb-30px{
    margin-bottom: 30px;
}


.pb-5px{
    padding-bottom: 5px;
}

.ptb-10px{
    padding: 10px 0;
}

.ptb-130px{
    padding: 130px 0;
}

.ptb-20px{
    padding: 20px 0;
}

.ptb-100px{
    padding: 100px 0;
}

.pt-60px{
    padding-top: 60px;
}

.prl-20px{
    padding: 0 20px;
}

.prl-40px{
    padding: 0 40px;
}

.pt-20px{
    padding-top: 20px;
}

.pt-130px{
    padding-top: 130px;
}

.pt-40px{
    padding-top: 40px;
}

.pb-10px{
    padding-bottom: 10px;
}

.pad-10px{
    padding: 10px;
}

.ove-auto{
    overflow: auto;
}


.fs-x-small{
    font-size: x-small;
}

.fs-small{
    font-size: small;
}

.fs-medium{
    font-size: medium;
}

.fs-large{
    font-size: large;
}

.fs-x-large{
    font-size: x-large;
}

.fs-30px{
    font-size: 30px;
}

.wid-30pc{
    width: 30%;
}

.wid-70pc{
    width: 70%;
}

.wid-50pc{
    width: 50%;
}

.wid-100div5{
    width: calc(100% / 5);
}

.wid-33pc{
    width: 33.3%;
}

.wid-40px{
    width: 40px;
}

.wid-100pc{
    width: 100%;
}

.wid-50pc{
    width: 50%;
}

.hei-50pc{
    height: 50%;
}

.hei-100pc{
    height: 100%;
}

.hei-20pc{
    height: 20%;
}

.hei-80pc{
    height: 80%;
}

.fw-wrap{
    flex-wrap: wrap;
}

.ar-1{
    aspect-ratio: 1;
}

.dis-none{
    display: none;
}
/*endregion utility*/

/*startregion header*/
header{
    height: 4rem;
    background-color: var(--bc-header_section-white);
    position: fixed;
    width: 100%;
    z-index: 2;
    box-shadow: 0 1px 5px var(--bc-button_simbols-lightblue);
}

header button{
    background-color: var(--bc-button_simbols-lightblue);
    color: white;
    padding: 6px 10px;
    transition-duration: 1s;
}

header img{
    width: 100px;
}

/*endregion header*/

/*startregion nav*/
nav{
    height: 40rem;
    background-color: var(--bc-nav-heavenly);
    margin-bottom: 130px;
}

nav>.conteiner{
    width: 60%;
    height: 100%;
    padding-top: 8rem;
}

nav h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    margin-bottom: 40px;
}

nav img{
    width: 650px;
}

nav button{
    background-color: var(--bc-button_simbols-lightblue);
    color: white;
    padding: 10px;
    transition-duration: 1s;
}

nav i{
    font-size: 40px;
}
/*endregion nav*/

/*startregion main*/
.plans{
    height: 920px;
    width: 50%;
}

.radio label{
    cursor: pointer;
}

.price{
    height: 760px;
}

.price>.col{
    border: 1px solid rgba(128, 128, 128, 0.433);
    transition-duration: 1s;
}

.price .name, .team .name{
    border-bottom: 1px solid rgba(128, 128, 128, 0.433);
}

.functions i{
    font-size: 11px;
}

.team{
    transition-duration: 1s;
}

.free-trial button, .team button{
    background-color: var(--bc-button_simbols-lightblue);
    color: white;
    padding: 10px 20px;
    transition-duration: 1s;
}

#contattaci{
    padding: 10px 62.2px;
}

.hr{
    height: 1.5px;
    background-color: rgba(128, 128, 128, 0.273);
}

.team{
    border: 1px solid  rgba(128, 128, 128, 0.273);
    width: 50%;
    height: 190px;
}

.team button{
    transition-duration: 1s;
}

.partner{
    width: 50%;
    height: 700px;
}

.img-partner>img{
    width: 95%;
}

.partner button{
    background-color: var(--bc-header_section-white);
    border: 2px solid grey;
    padding:8px 10px;
    transition-duration: 1s;
}

.operations{
    height: 1000px;
    width: 50%;
}

.operations .row{
    height: 850px;
}

.member>.card , .member>.col{
    height: 100%;
}

.member>.member_col{
    background-color: #f5f5f5 ;
}

.fs-medium>img{
    width: ;
}

.card img{
    width: 120px;
    filter: invert(100%);
}

#designit{
    background-color: var(--bc-square1-lighgreen);
    border: 10px solid #d1e9cd;
    box-sizing: border-box;
}

#asu{
    background-color: var(--bc-square1-bordeaux);
}

#uf{
    background-color: var(--bc-square1-lightblue);
}

#topps{
    background-color: var(--bc-square1-lightred);
}

#bicicle{
    background-color: var(--bc-square1-red);
}

#heart{
    background-color: var(--bc-square1-heavenly);
}

#lonely{
    background-color: var(--bc-square1-blu);
}

#clear{
    background-color: var(--bc-square1-yellow);
}

.free-trial-business{
    height: 250px;
    background-color: var(--bc-nav-heavenly);
}

.free-trial-business h1{
    color: var(--bc-square1-bordeaux);
}

.free-trial-business button{
    background-color: white;
    border: none;
    padding: 7px 20px;
    transition-duration: 1s;
}

.faq{
    height: 540px;
}

.faq-questions>div{
    transition-duration: 1s;
}

.faq-questions>p{
    display: none;
    transition-duration: 1s;
}

/*endregion main*/

/*startregion footer*/
footer{
    background-color: black;
    color: white;
    height: 500px;
}

#language{
    color: grey;
}

#footer-list span{
    transition-duration: 1s;
}
/*endregion footer*/