*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*startregion utility*/
:root{
    --bc-header_section-white: #ffffff;
    --bc-button_simbols-lightblue: #0061ff;
    --bc-nav-heavenly: #b4d0e7;
    --bc-square1-lighgreen: #a2d39b;
    --bc-square1-bordeaux: #61082b;
    --bc-square1-lightblue: #0093ce;
    --bc-square1-lightred: #ff1c1c;
    --bc-square1-red: #d5001f;
    --bc-square1-heavenly: #b4d0e7;
    --bc-square1-blu: #0d2481;
    --bc-square1-yellow: #ffd830;
}


.clearfix{
    content: "";
    display: table;
    clear: both;
}


.ta-center{
    text-align: center;
}

.ta-end{
    text-align: end;
}


.dis-flex{
    display: flex;
}

.jc-center{
    justify-content: center;
}

.ai-center{
    align-items: center;
}

.jc-flex-end{
    justify-content: flex-end;
}

.jc-flex-start{
    justify-content: flex-start;
}

.jc-space-around{
    justify-content: space-around;
}

.jc-space-between{
    justify-content: space-between;
}

.jc-space-evenly{
    justify-content: space-evenly;
}

.fd-column{
    flex-direction: column;
}


.pos-relative{
    position: relative;
}

.pos-absolute{
    position: absolute;
}


.bor-none{
    border: none;
}

.br-7px{
    border-radius: 7px;
}


.mar-auto{
    margin: auto;
}

.mrl-20px{
    margin:0 20px;
}

.ove-auto{
    overflow: auto;
}


.fs-x-small{
    font-size: x-small;
}

.fs-small{
    font-size: small;
}

.fs-medium{
    font-size: medium;
}

.fs-large{
    font-size: large;
}

.fs-x-large{
    font-size: x-large;
}
/*endregion utility*/

/*startregion header*/
header{
    height: 4rem;
    background-color: var(--bc-header_section-white);
}

header>.col{
    padding: 18px;
}

header button{
    background-color: var(--bc-button_simbols-lightblue);
    color: white;
    padding: 6px 10px;
}

/*endregion header*/

/*startregion nav*/
/*endregion nav*/

/*startregion main*/
/*endregion main*/

/*startregion footer*/
/*endregion footer*/

